@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/vars.css";
@import "general/form.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/cover.css";
@import "site/search.css";
@import "site/topic.css";
@import "site/term.css";
@import "blog/post.css";
@import "blog/feed.css";
@import "blog/pagination.css";
@import "blog/featured.css";
@import "blog/article.css";
@import "blog/related.css";
@import "blog/comment.css";
@import "misc/utilities.css";
@import "misc/owl.css";



/* 6.1. Post Byline
/* ---------------------------------------------------------- */

.article-byline {
    display: flex;
    justify-content: space-between;
    margin: min(24px, 5.6vmin) 0 0;
}

.article-byline-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.article-byline-content .author-list {
    justify-content: flex-start;
    padding: 0 14px 0 0;
}

.article-byline-meta {
    color: var(--color-secondary-text);
    font-size: 1.4rem;
    line-height: 1.2em;
}

.article-byline-meta .author-name {
    margin: 0 0 6px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0;
}

.article-byline-meta .bull {
    display: inline-block;
    margin: 0 2px;
}

.author-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: min(56px, 13.6vmin);
    height: min(56px, 13.6vmin);
    border: #fff 2px solid;
    border-radius: 50%;
    background-color: var(--color-border);
}

.page-template .article-title {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .article-byline-content .author-list {
        padding-right: 12px;
    }
    .article-byline-meta .author-name {
        margin-bottom: 4px;
    }
}