@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/vars.css";
@import "general/form.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/cover.css";
@import "site/search.css";
@import "site/topic.css";
@import "site/term.css";
@import "blog/post.css";
@import "blog/feed.css";
@import "blog/pagination.css";
@import "blog/featured.css";
@import "blog/article.css";
@import "blog/related.css";
@import "blog/comment.css";
@import "misc/utilities.css";
@import "misc/owl.css";


/* Offset headings from fixed header */
.post-content h2::before,
.post-content h3::before {
    display: block;
    content: " ";
    height: 84px;
    margin-top: -84px;
    visibility: hidden;
}

/* Adjust content wrapper */
.post-content {
    display: block;
}

/* Adjustments to wide and full width cards */
.kg-gallery-card,
.kg-width-wide,
.kg-width-full {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kg-gallery-card > *,
.kg-width-wide > *,
.kg-width-full > *,
figure.kg-width-full img {
    margin-left: -50vw;
    margin-right: -50vw;
}

/*.post-full-content pre {
    max-width: 0;
}*/

@media screen and (min-width: 800px){
    .post-content h2,
    .post-content h3 {
        outline: none;
    }
    body {
        overflow: visible;
    }
    .post-full-content {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        padding: 0 0 6vw;
        margin: 0;
    }
    .toc-container {
        order: 1;
    }
    .toc-container .toc {
        grid-column: main-end/full-end;
        position: sticky;
        top: 70px;
        min-width: 260px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        font-size: 1.6rem;
        line-height: 1.6em;
        padding: 0 0.8em;
    }
    .is-active-link::before {
        background-color: #3eb0ef;
    }
    ol.toc-list {
        margin: 0;
    }
}


.gh-canvas > * {
    grid-column: main-start / main-end;
}

@media screen and (min-width: 800px){
    .gh-canvas > * {
        grid-column: wide-start / wide-end;
    }
}